doctype html 
html(lang="en") 
  meta(charset="utf-8") 
  meta(name="viewport"  content="width=device-width initial-scale=1.0") 
  title= title 
  meta(name="description" content=metaDescription) 
  meta(name="keyword" content=metaKeyword) 
  meta(property="og:type" content="website")
  meta(property="og:url" content="http://localhost:3000")
  meta(property="og:site_name" content="My Business") 
  meta(property="og:title" content="Making doing busines simple") 
  meta(property="og:description" content="One Pack solution for managing business operations")
  meta(property="og:image" itemprop="image primaryOfPage" content="/images/logo.png") 
  meta(property="og:image:width" content="1200") 
  meta(property="og:image:height" content="630") 
  meta(property="en_US" content="og:locale") 
  meta(property="en_GH" content="og:locale:alternate")
  meta(property="en_US" content="og:locale:alternate") 
  meta(content="https://instagram.com/acebusiness" property="og:see_also")
  meta(content="https://youtube.com/acebusiness" property="og:see_also")
  meta(content="https://linkedin.com/company/acebusiness" property="og:see_also")
  meta(content="https://www.facebook.com/acebusiness/" property="og:see_also")
  meta(content="https://twitter.com/acebusiness" property="og:see_also")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:domain" content="http://localhost:3000")  
  meta(name="twitter:site" content="@mybusiness")
  meta(name="twitter:creator" content="@mybusiness")
  meta(name="twitter:image" content="https://localhost:3000/images/icon.png")
  meta(name="twitter:image:width" content="1024")
  meta(name="twitter:image:height" content="512")
  meta(name="twitter:title" content="Making doing business simple")
  meta(name="twitter:description" content="One Pack solution for managing business operations")       
  meta(name="twitter:url" content="www.peco-deluxe.com") 
  meta(name="twitter:image:alt" content="An iamge of celchin logo")
  link(ref="https://celchin.com/" rel="canonical")
  link(href="https://celchin.com/" rel="home") 
  link(type="text/plain" href="https://celchin.com/humans.txt" rel="author") 
  link(href="https://celchin.com/" rel="alternate" hreflang="x-default")
  link(href="https://celchin.com/" rel="alternate" hreflang="en-us")
  meta(property="web-app-capable" content="yes") 
  meta(property="theme-color" content="orange") 
  meta(property="theme-color" content="orange")
  meta(name="robots" content="no-follow")   
  meta(name="application-name" content="Peco Deluxe")
  link(rel="icon" type="image/png" href="/images/logo.png")
  link(rel="stylesheet" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') 
  link(rel="stylesheet" href="/css/easyframer.css") 
  link(rel="stylesheet" href="/css/style.css")
  block content 


