header 
  section.header 
    div.frame.justify-content-between 
      div 
        a(href="/") 
          img(src="/images/cflow-logo-110.png" alt="Our Logo" title="My business logon" class="w-100")
      nav(class="main-navigat d-sm-hide") 
        section.has-dropdown.d-sm-hide 
          a(href="#" class="user-link") 
            span Solutions 
            i.fa.fa-chevron-down  
          div.is-drop-content  
            div.drop-body 
              a(href="#") #[i.fa.fa-cloud] HR &amp; Admin Management 
              a(href="#") #[i.fa.fa-cloud] Procurement Management 
              a(href="#") #[i.fa.fa-cloud] Sales &amp; Marketing Management 
              a(href="#") #[i.fa.fa-cloud] Operations Management 
              a(href="#") #[i.fa.fa-cloud] Finance &amp; Accounting  
        section.has-dropdown.d-sm-hide 
          a(href="#" class="user-link") 
            span Solutions 
            i.fa.fa-chevron-down  
          div.is-drop-content  
            div.drop-body 
              a(href="#") #[i.fa.fa-cloud] HR &amp; Admin Management 
              a(href="#") #[i.fa.fa-cloud] Procurement Management 
              a(href="#") #[i.fa.fa-cloud] Sales &amp; Marketing Management 
              a(href="#") #[i.fa.fa-cloud] Operations Management 
              a(href="#") #[i.fa.fa-cloud] Finance &amp; Accounting 
        section.has-dropdown.d-sm-hide 
          a(href="#" class="user-link") 
            span Solutions 
            i.fa.fa-chevron-down  
          div.is-drop-content  
            div.drop-body 
              a(href="#") #[i.fa.fa-cloud] HR &amp; Admin Management 
              a(href="#") #[i.fa.fa-cloud] Procurement Management 
              a(href="#") #[i.fa.fa-cloud] Sales &amp; Marketing Management 
              a(href="#") #[i.fa.fa-cloud] Operations Management 
              a(href="#") #[i.fa.fa-cloud] Finance &amp; Accounting 
        a(href="#" class="user-link") Quick Demo 
        a(href="/signup" class="user-signup button no-border no-outline bg-green white-text radius-5 shadow") Sign Up 